{% extends 'base.html' %}



{% block content %}
    {% if error %}
    <div class="container pt-5 pb-5">
            <div class="alert alert-danger" role="alert">
        <strong>Oops.</strong> {{ error }}
        </div>

    </div>
    {% endif %}

    <h1>Log In</h1>

    <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
        <div class="from-group-row pt-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
    <div class="from-group-row pt-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
    <div class="form-group row pt-5">

        <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" value="Sign In">Sign in</button>
        </div>
    </div>
    </form>

{% endblock content %}