{% extends 'base.html' %}





{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Word count</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <form action="{% url 'counter' %}">
        <div class="form-group">
        <label for="fulltext">Enter your text </label>
        <textarea class="form-control" name="fulltext" rows="10" cols="40" id="fulltext" placeholder="Your text"></textarea>
        <br>
        <button type="submit" class="btn btn-primary" value="count">Count</button>
    </div>
        </form>

        </div>
    </div>


    </div>

{% endblock content %}






